legend {
  color: #15eaf6;
}
.input-item {
  margin: 0.5rem 1rem;
  padding-left: 20px;
  width: 100%;
  border-radius: 28px;
  border: 2px solid #15eaf6;
  height: 70px;
  ion-input {
    margin-top: -12px;
  }
}

ion-item {
  margin-top: 20px;
  --background: none;
}
.login-button {
  height: 50px;
  --border-radius: 28px;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  --box-shadow: none;
  --background: #15eaf6;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 0.8em;
}
.register-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191919cc;

  .registration-link {
    color: #15eaf6;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.login-container {
  border-radius: 25px;
}

ion-toolbar {
  --background: #15eaf6;
  background-color: transparent;
  border-radius: 0px 0px 25px 25px;
  height: 200px;
  box-shadow: 0px 1px 20px 0px #00000026;
  padding: 0.75rem;
}
.login-header {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-back-button {
    --color: #fff;
    margin-left: 0.3rem;
  }

  .login-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #fff;
    margin-left: 1.3rem;
  }

  .login-title {
    color: #fff;
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
  }
}
