ion-button {
  --box-shadow: none;
  --background: none;
  --color: none;
}

.add-button {
  padding: 0.5rem;

  ion-fab-button {
    --background: #15eaf6;
    --background-activated: #15eaf6;
    --background-hover: #08b3bc;
    --box-shadow: none;
  }

  .add-quiz {
    height: 24px;
    width: 24px;
  }
}

ion-toolbar {
  --background: #15eaf6;
  border-radius: 0px 0px 25px 25px;
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 1.5rem;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #15eaf6;

  .setting-icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #fff;
  }
}

.tab-container {
  display: flex;
  justify-content: space-around;
  background-color: #15eaf6;

  ion-segment-button {
    background: none;
    --color: none;
    --color-checked: none;
    --indicator-color: none;
  }

  .active-segment {
    color: #fff;
  }

  .inactive-segment {
    color: #ffffffb2;
  }

  ion-label:hover {
    --color: none;
  }
}

ion-card {
  margin: 0.5rem 1.25rem;
  box-shadow: none;
  border: 1px solid #0000000d;
  background-color: #b5e2e233;
  border-radius: 4px;
}

.quiz-container {
  cursor: pointer;
}

.buttons {
  float: right;
}
ion-label {
  margin-bottom: 0;

  .chat-icon {
    height: 1.8rem;
    width: 1.8rem;
  }
}

ion-modal {
  --background: white;
}

ion-content {
  background-color: white !important;
  color: black !important;
}

ion-refresher {
  --color: #15eaf6;
}
