ion-fab-button {
    --background: #15eaf6;
    --background-activated: #15eaf6;
    --background-hover: #08b3bc;
    --box-shadow: none

 
}
.add-button{
    margin-bottom: 2rem;
    padding: 1rem;
}
.add-quiz{
height: 24px;
width: 24px;

}