<ion-header>
  <ion-toolbar class="register-header">
    <ion-buttons>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="register-title">Register</ion-title>
    <p class="register-subtitle">Fill up your details to register.</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item lines="none">
        <fieldset class="input-item">
          <legend class="label">Full Name</legend>
          <ion-input formControlName="name" type="text" placeholder="Enter your name"></ion-input>
          <div
            *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)"
            class="error-message">
            <small *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</small>
          </div>
        </fieldset>
      </ion-item>

      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>Email Id</legend>
          <ion-input formControlName="email" placeholder="Enter your email" type="email"></ion-input>
          <div
            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)"
            class="error-message">
            <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</small>
            <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</small>
          </div>
        </fieldset>
      </ion-item>

      <ion-item lines="none">
        <fieldset class="input-item">
          <legend>Mobile</legend>
          <ion-input formControlName="mobile" placeholder="Enter mobile number" type="tel" maxlength="10"></ion-input>
          <div
            *ngIf="registerForm.get('mobile')?.invalid && (registerForm.get('mobile')?.touched || registerForm.get('mobile')?.dirty)"
            class="error-message">
            <small *ngIf="registerForm.get('mobile')?.errors?.['required']">Mobile number is required.</small>
            <small *ngIf="registerForm.get('mobile')?.errors?.['pattern']">Mobile number must be 10 digits.</small>
          </div>
        </fieldset>
      </ion-item>

      <ion-button expand="block" class="register-button" type="submit"
        [disabled]="registerForm.invalid">Register</ion-button>
    </form>

    <p class="login-prompt">
      Already have an account?&nbsp;&nbsp;
      <a routerLink="/login" class="login-link" >Login</a>
    </p>
  </div>
</ion-content>