
.add-button{
    height: 50px;
    --border-radius: 28px;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    --box-shadow: none;
    --background: #15eaf6;
    cursor: pointer;
  }