<!-- 
<ion-toolbar class="add-quiz-header">
  <ion-buttons>
    <ion-back-button defaultHref="/quiz-list"></ion-back-button>
  </ion-buttons>
  <ion-title class="add-quiz-title">{{ quizId ? 'Edit Quiz' : 'Add Quiz' }}</ion-title>
</ion-toolbar>

<ion-content>
<form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="quiz-container">
  <ion-item>
    <ion-input
      formControlName="title"
      placeholder="Quiz Title"
      required
    ></ion-input>
  </ion-item>

  <ion-list>
    <ion-item
      *ngFor="let subcategory of quizStore.currentQuiz.subcategories; let i = index"
    >
      <ion-select
        [(ngModel)]="quizStore.currentQuiz.subcategories[i]"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Select Subcategory"
      >
        <ion-select-option
          *ngFor="let option of predefinedSubcategories"
          [value]="option"
        >
          {{ option }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-textarea
      formControlName="quizquestion"
      placeholder="Quiz Question"
      required
    ></ion-textarea>
  </ion-item>

  <ion-item class="option-type-container">
    <ion-label>Question Type</ion-label>
    <ion-radio-group
      formControlName="questionType"
      required
      class="option-type"
    >
      <ion-item>
        <ion-label>Text</ion-label>
        <ion-radio value="text"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Multiple Choice</ion-label>
        <ion-radio value="mcq"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
  <div *ngIf="quizForm.get('questionType')?.value === 'mcq'">
    <ion-item *ngFor="let option of options.controls; let i = index">
      <ion-input
        [formControl]="$any(option)"
        placeholder="Option {{ i + 1 }}"
        required
      ></ion-input>
      <ion-button
        *ngIf="i >= 2"
        fill="clear"
        color="danger"
        (click)="removeOption(i)"
      >
        Remove
      </ion-button>
    </ion-item>
    <ion-button expand="block" (click)="addOption()" class="add-button"
      >Add Option</ion-button
    >
  </div>

  <ion-button class="add-quiz" expand="full" type="submit">
    {{ quizId ? 'Update Quiz' : 'Add Quiz' }}
  </ion-button>
</form>
</ion-content> -->

<ion-toolbar class="add-quiz-header">
  <ion-buttons>
    <ion-back-button defaultHref="/quiz-list"></ion-back-button>
  </ion-buttons>
  <ion-title class="add-quiz-title"
    >{{ quizId ? 'Edit Quiz' : 'Add Quiz' }}</ion-title
  >
</ion-toolbar>

<ion-content>
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" class="quiz-container">
    <ion-input
      label="Quiz Title"
      label-placement="floating"
      formControlName="title"
      fill="outline"
      placeholder="Quiz Title"
      class="custom-input"
      required
    ></ion-input>

    <ion-select
      formControlName="subcategories"
      multiple="true"
      placeholder="Select Subcategory"
      label="Select Subcategory"
      label-placement="floating"
      fill="outline"
      *ngFor="let subcategory of quizStore.currentQuiz.subcategories; let i = index"
    >
      <ion-select-option
        *ngFor="let option of predefinedSubcategories"
        [value]="option"
      >
      {{option}}
      </ion-select-option>
    </ion-select>

    <ion-textarea
      label="Quiz Question"
      formControlName="quizquestion"
      labelPlacement="floating"
      fill="outline"
      placeholder="Quiz Question"
      required
    ></ion-textarea>

    <div *ngIf="quizForm.get('questionType')?.value === 'mcq'">

      <div formArrayName="options">
        <div *ngFor="let optionGroup of options.controls; let i = index" [formGroupName]="i">
          <ion-item fill="outline">
            <ion-input
              label="Option {{ i + 1 }}"
              label-placement="floating"
              formControlName="option"
              placeholder="Option {{ i + 1 }}"
              required
            >
            </ion-input>
      
            <ion-icon
              *ngIf="i >= 2"
              slot="end"
              fill="clear"
              color="danger"
              (click)="removeOption(i)"
              name="trash-outline"
            >
            </ion-icon>
          </ion-item>
        </div>
      </div>
      

      <ion-button expand="block" (click)="addOption()" class="add-button" [disabled]="options.length >= 5"
        >Add Option</ion-button
      >
    </div>

    <ion-button class="submit-btn" type="submit">
      {{ quizId ? 'Update Quiz' : 'Add Quiz' }}
    </ion-button>
  </form>
</ion-content>

      <!-- <div *ngFor="let option of options.controls; let i = index">
        
        <ion-item fill="outline">
          <ion-input
            label="Option {{ i + 1 }}"
            label-placement="floating"
            [formControl]="$any(option)"
            placeholder="Option {{ i + 1 }}"
            required
          >
          </ion-input>

          <ion-icon
            *ngIf="i >= 2"
            slot="end"
            fill="clear"
            color="danger"
            (click)="removeOption(i)"
            name="trash-outline"
          >
          </ion-icon>
        </ion-item>
      </div> -->