.profile-container {
    legend {
        color: #15eaf6;
    }
    .input-item {
        margin: 0.5rem 1rem;
        padding-left: 20px;
        width: 100%;
        border-radius: 28px;
        border: 2px solid #15eaf6;
        height: 70px;
        ion-input {
            margin-top: -12px;
        }
    }

    .update-button {
        height: 50px;
        margin-top: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        --box-shadow: none;
        --background: #15eaf6;
        --border-radius: 25px;
        cursor: pointer;
    }

    ion-item {
        margin-top: 20px;
        --background: none;
    }
}

ion-avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    cursor: pointer;
    margin-top: 1rem;
}

ion-avatar ion-img {
    border-radius: 50%;
    border: 3px solid #00aaff;
}

ion-avatar::after {
    content: "Change profile";
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

ion-toolbar {
    --background: #15eaf6;
    background-color: transparent;
    border-radius: 0px 0px 25px 25px;
    padding: 1rem;

    ion-back-button {
        --color: #fff;
        margin-left: 0.3rem;
    }
    .title {
        color: #fff;
    }
}
