ion-toolbar {
    --background: #15eaf6;
    background-color: transparent;
    border-radius: 0px 0px 25px 25px;
    height: 200px;
}
.otp-header {
    display: flex;
    align-items: center;
    justify-content: center;

    ion-back-button {
        --color: #fff;
        margin-left: 0.3rem;
    }

    .otp-subtitle {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: #fff;
        margin-left: 1.3rem;
    }

    .otp-title {
        color: #fff;
        font-family: Raleway;
        font-size: 30px;
        font-weight: 600;
        text-align: left;
    }
}

.otp-container {
    margin: 2rem;
    margin-top: 7rem;
    h2 {
        margin-bottom: 10px;
    }

    .otp-input {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        gap: 1rem;

        ion-input {
            width: 50px;
            text-align: center;
            border: solid 2px #15eaf6;
            border-radius: 50%;
            --highlight-color-focused: none;
            --highlight-color-valid: none;
            --highlight-color-invalid: none;
            --highlight-color: none
            ;
        }
    }

    .resend-otp a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        color: #15eaf6;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.verify-button {
    height: 50px;
    --border-radius: 28px;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    --box-shadow: none;
    --background: #15eaf6;
    cursor: pointer;
}
